@import 'variables.scss';

.header {
  background-color: $color-grey;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;

  height: $unit * 7;
  margin: 0;
  padding: 0;
  &__item {
    border-radius: $border-radius;
    background-color: $color-secondary;
    color: $text-color-secondary;
    padding: $unit;
    margin-left: $unit;
    font-weight: 700;
    cursor: pointer;
    &_selected {
      background-color: $color-primary;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
