$sm: 600px;
$md: 900px;
$lg: 1200px;

@mixin for-to599-small {
  @media screen and (max-width: $sm - 1) {
    @content;
  }
}

@mixin for-from600to899-up {
  @media screen and (min-width: $sm) {
    @content;
  }
}

@mixin for-from900to1200-up {
  @media screen and (min-width: $md) {
    @content;
  }
}
@mixin for-from1200-up {
  @media screen and (min-width: $lg) {
    @content;
  }
}

@mixin orientPortrait {
  @media (orientation: portrait) {
    @content;
  }
}
