@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @include orientPortrait {
    flex-direction: column;
  }
}

.square {
  width: 100px;
  height: 100px;
  margin: 8px;
  @include for-to599-small {
    background-color: #ff7f50;
  }
  @include for-from600to899-up {
    background-color: #8a2be2;
  }
  @include for-from900to1200-up {
    background-color: #a61;
  }
  @include for-from1200-up {
    background-color: #c47;
  }
}
